.themebg {
    background-color: #123F55 !important;
    color: #efefef !important;
}

.text-lightAf, nav.text-lightAf *,.sudo.text-lightAf *{
    color: #efefef !important;
}

.themetxt {
    color: #123F55 !important;
}

.b-never,
.b-never:hover {
    border: none !important;
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}

.no-dec {
    text-decoration: none !important;
}

.roundAf {
    border-radius: 50px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

img,
.fade-in {
    transition: all, .3s;
    animation-name: fadeIn;
    animation-duration: .4s;
    animation-iteration-count: 1;
}

@keyframes Phase {
    0% {
        background-color: #0e0e0e10;
    }

    40% {
        background-color: #0e0e0e30;
    }

    90% {
        background-color: #0e0e0e10;
    }

    100% {
        background-color: #0e0e0e10;
    }
}

.phaser {
    transition: all, .3s;
    animation-name: Phase;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
}


.c-ign {
    pointer-events: none;
}

.disp-child {
    transition: all, .3s;
    max-width: 0px;
    overflow: hidden;
    opacity: 0;
}

.par:hover .disp-child {
    max-width: fit-content !important;
    overflow: visible !important;
    opacity: 1 !important;
}

.transition{
    transition: all,.3s !important;
}

#gallery::-webkit-scrollbar ,
.fancy-sc::-webkit-scrollbar {
    background: transparent;
    height: 10px;
    width: 10px;
}

#gallery::-webkit-scrollbar-thumb,
.fancy-sc::-webkit-scrollbar-thumb{
    background-color: #123F5530;
    border-radius: 10px;
}

.noShade *{
    box-shadow: none !important;
}

.b-0{border:none !important; outline: none !important;}